
/* ----------------------- */
/* ----------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Fraunces;
  src: url(/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

@font-face {
  font-family: Mont;
  src: url(/Montserrat-VariableFont_wght.ttf);
}

body {
  font-family: "Mont", san-serif;
  background-color: hsl(30, 38%, 92%);
  font-size: 14px;
}

/* ----------------------- */
/* ----------------------- */

.cards {
  height: 100vh;
  display: grid;
  place-content: center;
}

.container {
  width: 650px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-img {
  width: 100%;
  height: 100%;
  background-image: url(./images/image-product-desktop.jpg);
  background-size: cover;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.details {
  padding: 32px;
  background-color: hsl(0, 0%, 100%);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.perf {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 12px;
}

.details h1 {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  font-size: 32px;
  margin: 26px 0;
  line-height: 1;
  color: hsl(212, 21%, 14%);
}

p {
  color: hsl(228, 12%, 48%);
  font-weight: 500;
}

.details-text {
  line-height: 1.5;
  font-size: 16px;
}

.price {
  margin: 10px 0;
  display: flex;
  padding: 20px 0;
  align-items: center;
  gap: 16px;
}

.new-price {
  font-family: "Fraunces";
  font-size: 32px;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
}

.old-price {
  color: hsl(228, 12%, 48%);
  font-weight: 500;
}

.cta-btn {
  background-color: hsl(158, 36%, 37%);
  width: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 700;
  border-radius: 10px;
  color: hsl(30, 38%, 92%);

}

.cta-btn:hover {
  background-color: hsl(134, 27%, 15%);
  cursor: pointer;
}


/* Mobile View */
/* ---------------- */

@media screen and (max-width: 375px) {
.container {
    grid-template-columns: 1fr;
    width: 100vw;
    margin: 10px;
}
.details-text {
    /* font-size: 13px; */
}
.hero-img {
    width: 100%;
  height: 250px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background-image: url(./images/image-product-mobile.jpg);
    background-size: cover;
}


}